body {
    background-color: #808080;
	font-family: Tahoma, Verdana, Arial, Sans-Serif, Times New Roman;
	margin-top:180px;
	background-image:url(../papel%20de%20parede/03.jpg);
	background-repeat:no-repeat;
	background-size:100%;
}
#tlogin{
    background-color: rgba(255,255,255,255);
	margin: 100px auto 100px auto;	
    width: 550px;
    min-height:280px;
    border-radius: 3px;
	box-shadow:0px 2px 6px 4px white;
	-webkit-box-shadow: 0px 2px 6px 4px white;
	-moz-box-shadow: 0px 2px 6px 4px white;
}
#imagem{
	float: left; 
	width: 200px;
    height: 200px;
}
#tlogin h1{
	margin: 0;
	padding: 10px;
	color:#326C99;
	font-weight: bold;
	color:#000;
}
#tlogin label
{
    display: block;
    padding: 10px 0 0 0;
	font-size: 20px;
	font-weight: bold;
	color:#326C99;
}

#tlogin input[type=text],#tlogin input[type=password],#tlogin input[type=email]
{
	margin-left:0px;
	padding: 8px;
}

.botao {
	color: #fff;
	padding: 8px;
	box-shadow: 2px 2px 1px #aaaaaa;
	clear: both;
	margin-top: 10px;
	margin-left:30px;
	border-radius: 8px;
	-msie-border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    font-weight: bold;
	outline:none;
}


label#cx{
	color:#000;
}
